<?xml version="1.0" ?>
<model>
    <name>emergency_console</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Ricardo Tonet</name>
        <email>rjt16079@campus.fct.unl.pt</email>
    </author>
    <description>Hospital emergency console model.</description>
</model>