<launch>
  <arg name="sim_world" default="empty" />
  
  <!-- Robot gains setup and test arguments -->
  <arg name="gains" default="false" />
  <arg name="rviz" default="false" />

  <!-- Start Gazebo world -->
  <include if="$(eval sim_world == 'empty')" file="$(find smalldrop_robot_arm)/launch/create_empty_sim_world.launch" />
  <include if="$(eval sim_world == 'hospital_room')" file="$(find smalldrop_robot_arm)/launch/create_hospital_room_sim_world.launch" />

  <param if="$(eval sim_world == 'empty')" name="robot_description" command="$(find xacro)/xacro $(find smalldrop_robot_arm)/robots/panda_arm_hand.urdf.xacro" />
  <param if="$(eval sim_world == 'hospital_room')" name="robot_description" command="$(find xacro)/xacro $(find smalldrop_robot_arm)/robots/panda_arm_hand.urdf.xacro robot_origin_xyz:='1 0.0 0.945' robot_origin_rpy:='0.0 0.0 3.1415'" />
  
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model panda" />

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find smalldrop_robot_arm)/config/panda_control.yaml" command="load"/>
  <rosparam file="$(find smalldrop_robot_arm)/config/config.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_position_pid_sim_controller joint_state_controller panda_hand_controller" />
  <node name="controller_spawner_stopped" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="--stopped cartesian_impedance_sim_controller" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" />
  <node name="joint_state_desired_publisher" pkg="topic_tools" type="relay" args="joint_states joint_states_desired" />

  <node if="$(arg gains)" name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" required="false" />
  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find smalldrop_rviz)/rviz/config_tests.rviz" />
</launch>