<launch>
  <!-- Main arguments for Bioprinter constructor -->
  <arg name="is_simulation" default="1" /> 
  <arg name="is_development" default="1" />
  <arg name="calib_cam" default="0" />
  <arg name="calib_phead" default="0" />

  <!-- Arguments for robot arm -->
  <arg name="robot_ip" default="172.16.0.2" />
  <arg name="gains" default="true" />
  <arg name="rviz" default="true" />

  <!-- Include remote controller launch -->
  <include file="$(find smalldrop_teleoperation)/launch/system_teleoperation.launch" />

  <!-- Include robot arm launch -->
  <include if="$(arg is_simulation)" file="$(find smalldrop_robot_arm)/launch/cartesian_impedance_sim_controller.launch">
      <arg name="gains" value="$(arg gains)" />
      <arg name="rviz" value="$(arg rviz)" />
  </include>
  <include unless="$(arg is_simulation)" file="$(find smalldrop_robot_arm)/launch/cartesian_impedance_real_controller.launch">
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="gains" value="$(arg gains)" />
    <arg name="rviz" value="$(arg rviz)" />
  </include>

  <node name="smalldrop" pkg="smalldrop_bioprint" type="bioprinter" args="--sim $(arg is_simulation) --dev $(arg is_development) --ccam $(arg calib_cam) --cphead $(arg calib_phead)" output="screen" />
</launch>